<main class="px-4 py-4">
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>{{ "booking.select-doctor-title" | translate}}</ng-template>

        <div class="filters space-y-2">
          <h1 class="text-primary font-medium">{{ "booking.filters" | translate}}</h1>
          <div class="flex space-x-6">
            <mat-form-field appearance="fill">
              <mat-label>{{ "auth.register.specialty-label" | translate }}</mat-label>
              <mat-select><mat-option value="one">In progress</mat-option></mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{ "booking.search-by-doctor" | translate}}</mat-label>
              <input matInput type="text">
              <button mat-button matSuffix><mat-icon>search</mat-icon></button>
            </mat-form-field>
            <app-country-selector></app-country-selector>
            <mat-form-field appearance="fill">
              <mat-label>{{ "booking.enter-a-date-range" | translate}}</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-hint>{{ "booking.date-hint" | translate}}</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{ "booking.patient" | translate}}</mat-label>
              <mat-select>
                <mat-option value="one">{{ "booking.myself" | translate}}</mat-option>
                <mat-option value="one">{{ "booking.mychild" | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Doctor selection -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-6">
          <div *ngFor="let doctor of doctors" class="flex flex-col px-6 py-6 max-w-md rounded-xl border w-80">
            <div class="flex items-center space-x-2">
              <div class="h-20 w-20 rounded-full overflow-hidden object-cover bg-black">
                <img class="object-cover" [src]="getUser(doctor.userId)?.profileImageUrl" alt="Doctor's profile image">
              </div>
              <ul>
                <li class="font-medium text-xl">{{ getUser(doctor.userId)?.firstName + ' ' + getUser(doctor.userId)?.lastName }}</li>
                <li class="text-primary">{{doctor.specialty.name}}</li>
                <li><a class="text-secondary" href="#"> {{"booking.view-profile" | translate}}<span>({{doctor.stars}}&#9733;)</span></a></li>
                <li class="font-medium">{{doctor.price}} USD</li>
              </ul>
            </div>
            <button mat-raised-button color="primary" matStepperNext (click)="updateAppointmentDoctor(doctor)"> {{ "booking.book" | translate}}</button>
          </div>
        </div>
      </form>
    </mat-step>

    <!-- Appointment date -->
    <mat-step [stepControl]="secondFormGroup" label="Select date">
      <form [formGroup]="secondFormGroup" class="flex space-x-4">
        <mat-card class="w-1/4">
          <mat-calendar [(selected)]="selectedDate"></mat-calendar>
        </mat-card>
        <div class="w-1/3">
          <mat-form-field class="w-full">
            <mat-label>
              {{ selectedDate === null ? "Please select a date to continue" : "Date selected" }}
            </mat-label>
            <input matInput disabled :value={{selectedDate}}>
          </mat-form-field>
          <div class="flex gap-2">
            <button  mat-raised-button color="primary" matStepperPrevious>{{"booking.back" | translate}}</button>
            <button mat-raised-button color="primary" matStepperNext>{{"booking.next" | translate}}</button>
          </div>
        </div>
      </form>
    </mat-step>

    <!-- Payment -->
    <mat-step [stepControl]="thirdFormGroup" label="Select payment">
      <form [formGroup]="thirdFormGroup" class="justify-center ">
        <div class="doctor-info">
          <h1 class="text-primary text-2xl font-medium">{{"booking.payment-info.title" | translate}}</h1>

          <p class="font-medium">{{"booking.payment-info.specialty" | translate}}
            <span class="text-secondary font-medium">{{ selectedDoctor?.specialty.name }}</span></p>

          <p class="font-medium">{{"booking.payment-info.price" | translate}}
            <span class="text-secondary font-medium">{{ selectedDoctor?.price}} USD</span></p>
          <div>
            <p class="font-medium">{{"booking.payment-info.description" | translate}} </p>
              <br>
              <mat-form-field class="">
                <mat-label>Description</mat-label>
                <input type="text" matInput placeholder="" formControlName="description">
              </mat-form-field>
          </div>
        </div>

        <div class="flex gap-2">
          <button mat-raised-button color="primary" matStepperPrevious>{{"booking.back" | translate}}</button>
          <button mat-raised-button color="primary" (click)="createAppointment(); createPayment()" matStepperNext>
            {{ "booking.confirm-payment" | translate }}
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Confirm</ng-template>
      <p>{{"booking.confirmation-text" | translate}}
        <a class="text-secondary" [routerLink]="['/home']">{{"booking.go-home" | translate}}</a>
      </p>
    </mat-step>
  </mat-stepper>
</main>
