<main class="dashboard bg-snow">
  <app-greeting-content></app-greeting-content>
  <div class="container">
    <div class="h-screen grid grid-cols-3 gap-6">
      <div class="bg-white ">
        <div class="h-full">Notifications</div>
      </div>
      <div class="bg-white">
        <div class="h-full">Next Appointments</div>
      </div>
      <div class="bg-white grid grid-rows-2 gap-4">
        <div class="bg-white h-full">
          <div class="h-full">Appointments History 1</div>
        </div>
        <div class="bg-white col-span-2 h-full">
          <div class="h-full">Chat</div>
        </div>
      </div>
    </div>

  </div>
</main>
