<main class="dashboard bg-snow">
  <div class="container">
    <app-greeting-content></app-greeting-content>
    <div class="space-y-6">
      <div class="bg-white border-0 rounded-2xl px-8 py-8 space-y-4">
        <div class="flex gap-2">
          <img src="assets/dashboard/calendar-month-multimedia-svgrepo-com.svg" alt="Next appointments icon">
          <h1 class="text-2xl">{{ "dashboard.next-appointments-title" | translate}}</h1>
        </div>
        <div><app-patient-next-appointments-card /></div>
      </div>
      <div class="grid md:grid-cols-3 gap-6">
        <a [routerLink]="['/home']">
          <div class="bg-white border-0 rounded-2xl px-8 py-8 space-y-4 hover:scale-95 hover:border duration-300">
            <img src="assets/dashboard/medical-history-doctor-svgrepo-com.svg" alt="Appointments history icon" class="w-auto h-20">
            <div>
              <h2 class="text-2xl font-medium">{{ "dashboard.appointments-history-title" | translate}}</h2>
              <p class="text-contrast">{{ "dashboard.past-appointments-label" | translate}}</p>
            </div>
          </div>
        </a>
        <a [routerLink]="['/chat']">
          <div class="bg-white border-0 rounded-2xl px-8 py-8 space-y-4 hover:scale-95 hover:border duration-300">
            <img src="assets/dashboard/meesage-svgrepo.svg" alt="Chat with contacts icon" class="w-auto h-20">
            <div>
              <h2 class="text-2xl font-medium">{{ "dashboard.chat-title" | translate}}</h2>
              <p class="text-contrast">{{ "dashboard.contacts-label" | translate}}</p>
            </div>
          </div>
        </a>
        <a [routerLink]="['/home']">
          <div class="bg-white border-0 rounded-2xl px-8 py-8 space-y-4 hover:scale-95 hover:border duration-300">
            <img src="assets/dashboard/notifications-svgrepo.svg" alt="Notifications icon" class="w-auto h-20">
            <div>
              <h2 class="text-2xl font-medium">{{ "dashboard.notifications-title" | translate}}</h2>
              <p class="text-contrast">{{ "dashboard.notifications-label" | translate}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>


  </div>
</main>
