<main class="dashboard bg-snow">
  <app-greeting-content></app-greeting-content>
  <div class="container">
    <div class="h-screen grid grid-cols-3 gap-6">
      <div class="bg-white ">
        <div class="h-full">Notifications</div>
      </div>
      <div class="bg-white">
        <div class="h-full">
          Next Appointments
          <div class="">
            <mat-card *ngFor="let appointment of appointments" class="max-w-md shadow-md">
              <div class="flex flex-col px-6 py-6">
                <div class="flex items-center space-x-6">
                  <div class="h-40 w-40 rounded-full overflow-hidden">
                    <img class="object-cover" src="{{ appointment.doctor.profileImageUrl }}" alt="Doctor's profile image">
                  </div>
                  <div class="flex-grow doctor-information">
                    <ul>
                      <li class="font-medium text-3xl"><h1>{{appointment.doctor.name}} {{appointment.doctor.lastName}}</h1></li>
                      <li class="font-medium text-lg">{{appointment.doctor.specialty}}</li>
                      <li class="font-medium text-lg">{{appointment.date}}</li>
                    </ul>
                    <div class="flex gap-4">
                      <button mat-mini-fab color="primary"
                      aria-label="Edit">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button
                      mat-mini-fab color="warn"
                      aria-label="Edit"
                      (click)="deleteAppointment(appointment.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                    <div class="">
                      <mat-form-field>
                        <mat-label>Edit date</mat-label>
                        <input matInput placeholder="Edit the date" [value]="appointment.date">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                  <button mat-raised-button disabled>
                    {{ "dashboard.join-appointment" | translate}}
                  </button>
                </div>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="bg-white grid grid-rows-2 gap-4">
        <div class="bg-white h-full">
          <div class="h-full">Appointments History</div>
        </div>
        <div class="bg-white col-span-2 h-full">
          <div class="h-full">
            Chat
            <app-chat></app-chat>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
