<main class="forgot-password">
  <div class="fixed top-4 left-4 p-4 hover:scale-110 hidden md:block hover:cursor-pointer ">
    <img [routerLink]="['/login']" class="h-12 w-auto" src="/assets/medmeed-icon.png" alt="Medmeet Icon">
  </div>
  <div class="flex float-right">
    <app-language-switcher></app-language-switcher>
  </div>

  <div class="w-full max-w-xl absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col space-y-6"
          (ngSubmit)="onSubmit()"
          #forgotPasswordForm="ngForm"
    >
      <div class="flex flex-col space-y-6">
        <div>
          <h1 class="text-black font-medium text-3xl">
            {{ "auth.password-forgot.title" | translate }}
          </h1>
        </div>
        <div>
          <p class="text-gray-500">
            {{ "auth.password-forgot.description"| translate }}
          </p>
        </div>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>
            {{ "auth.e-mail" | translate }}
          </mat-label>
          <input matInput>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          {{ "auth.password-forgot.send-link" | translate }}
        </button>
        <div class="grid place-items-center">
          <p>
            {{ "auth.go-back-to" | translate }}
            <a class="hover:cursor-pointer text-secondary" [routerLink]="['/login']">
              {{ "auth.sign-in-title" | translate }}
            </a>
          </p>
        </div>
      </div>
    </form>
  </div>

</main>



